<% content_for :content_header do %>
  <%= image_tag @user.gravatar_url,
   size: "32x32", style: 'float: left;  padding-right: 10px;' %>
   <h1><%= link_to('Users', users_path) %> / New User</h1>
<% end %>

<%= render 'form' %>
