development:
  adapter: postgresql
  database: lattis
  username: <username>
  password: <password>
  host: <hostname or ip address. eg.: localhost>

test:
  adapter: postgresql
  database: lattis
  username: <username>
  password: <password>
  host: <hostname or ip address. eg.: localhost>

production:
  adapter: postgresql
  database: lattis
  username: <username>
  password: <password>
  host: <hostname or ip address. eg.: localhost>
