@mixin dashboard {
  background: url('/assets/icons.png') no-repeat 0 -3px;
  background-size: 554px 237px;
  width: 31px;
  height: 26px;
}

@mixin dashboard-hover {
  background: url('/assets/icons.png') no-repeat -1px -38px;
  background-size: 554px 237px;
  width: 31px;
  height: 26px;
}

@mixin dashboard-active {
  background: url('/assets/icons.png') no-repeat -1px -78px;
  background-size: 554px 237px;
  width: 31px;
  height: 26px;
}

@mixin visits {
  background: url('/assets/icons.png') no-repeat -55px 0;
  background-size: 554px 237px;
  width: 30px;
  height: 28px;
}

@mixin visits-hover {
  background: url('/assets/icons.png') no-repeat -54px -37px;
  background-size: 554px 237px;
  width: 30px;
  height: 28px;
}

@mixin visits-active {
  background: url('/assets/icons.png') no-repeat -54px -76px;
  background-size: 554px 237px;
  width: 30px;
  height: 28px;
}

@mixin studies {
  background: url('/assets/icons.png') no-repeat -108px 0;
  background-size: 554px 237px;
  width: 27px;
  height: 29px;
}

@mixin studies-hover {
  background: url('/assets/icons.png') no-repeat -108px -36px;
  background-size: 554px 237px;
  width: 28px;
  height: 29px;
}

@mixin studies-active {
  background: url('/assets/icons.png') no-repeat -108px -76px;
  background-size: 554px 237px;
  width: 28px;
  height: 29px;
}

@mixin subjects {
  background: url('/assets/icons.png') no-repeat -160px -3px;
  background-size: 554px 237px;
  width: 36px;
  height: 23px;
}

@mixin subjects-hover {
  background: url('/assets/icons.png') no-repeat -159px -39px;
  background-size: 554px 237px;
  width: 36px;
  height: 23px;
}

@mixin subjects-active {
  background: url('/assets/icons.png') no-repeat -159px -78px;
  background-size: 554px 237px;
  width: 36px;
  height: 23px;
}

@mixin admin {
  background: url('/assets/icons.png') no-repeat -220px -3px;
  background-size: 554px 237px;
  width: 28px;
  height: 28px;
}

@mixin admin-hover {
  background: url('/assets/icons.png') no-repeat -221px -39px;
  background-size: 554px 237px;
  width: 28px;
  height: 28px;
}

@mixin admin-active {
  background: url('/assets/icons.png') no-repeat -221px -76px;
  background-size: 554px 237px;
  width: 28px;
  height: 28px;
}

@mixin scans {
  background: url('/assets/icons.png') no-repeat -274px -3px;
  background-size: 554px 237px;
  width: 28px;
  height: 28px;
}

@mixin scans-hover {
  background: url('/assets/icons.png') no-repeat -274px -40px;
  background-size: 554px 237px;
  width: 28px;
  height: 28px;
}

@mixin scans-active {
  background: url('/assets/icons.png') no-repeat -274px -77px;
  background-size: 554px 237px;
  width: 28px;
  height: 27px;
}

@mixin stimulations {
  background: url('/assets/icons.png') no-repeat -321px -3px;
  background-size: 554px 237px;
  width: 32px;
  height: 30px;
}

@mixin stimulations-hover {
  background: url('/assets/icons.png') no-repeat -321px -38px;
  background-size: 554px 237px;
  width: 32px;
  height: 30px;
}

@mixin stimulations-active {
  background: url('/assets/icons.png') no-repeat -321px -74px;
  background-size: 554px 237px;
  width: 32px;
  height: 30px;
}

#primary-nav ul li {
  &:hover i.dashboard {
    @include dashboard-hover;
  }

  &:active i.dashboard, &.selected i.dashboard  {
    @include dashboard-active;
  }

  &:hover i.visits {
    @include visits-hover;
  }

  &:active i.visits, &.selected i.visits  {
    @include visits-active;
  }

  &:hover i.studies {
    @include studies-hover;
  }

  &:active i.studies, &.selected i.studies  {
    @include studies-active;
  }

  &:hover i.subjects {
    @include subjects-hover;
  }

  &:active i.subjects, &.selected i.subjects  {
    @include subjects-active;
  }

  &:hover i.admin {
    @include admin-hover;
  }

  &:active i.admin, &.selected i.admin  {
    @include admin-active;
  }

  &:hover i.scans {
    @include scans-hover;
  }

  &:active i.scans, &.selected i.scans  {
    @include scans-active;
  }

  &:hover i.stimulations {
    @include stimulations-hover;
  }

  &:active i.stimulations, &.selected i.stimulations  {
    @include stimulations-active;
  }
}

i {
  font-style: normal;
  display: inline-block;

  &.dashboard {
      @include dashboard;
    &.dashboard.hover {
      @include dashboard-hover;
    }
    &.dashboard.active {
      @include dashboard-active;
    }
  }

  &.visits {
      @include visits;
    &.visits.hover {
      @include visits-hover;
    }
    &.visits.active {
      @include visits-active;
    }
  }

  &.studies {
      @include studies;
    &.studies.hover {
      @include studies-hover;
    }
    &.studies.active {
      @include studies-active;
    }
  }

  &.subjects {
     @include subjects;
    &.subjects.hover {
      @include subjects-hover;
    }
    &.subjects.active {
      @include subjects-active;
    }
  }

  &.admin {
      @include admin;
    &.admin.hover {
      @include admin-hover;
    }
    &.admin.active {
      @include admin-active;
    }
  }

  &.scans {
    @include scans;
    &.scans.hover {
      @include scans-hover;
    }
    &.scans.active {
      @include scans-active;
    }
  }

  &.stimulations {
    @include stimulations;
    &.stimulations.hover {
      @include stimulations-hover;
    }
    &.stimulations.active {
      @include stimulations-active;
    }
  }
}
