body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 0;
  min-width: 960px;
}

a > span.link {
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;

  /* edit: added z-index */
  z-index: 1;
}


.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #000;

  &.inverse {
    border-bottom: 5px solid #DCDDDE;
  }
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000;

  &.inverse {
    border-top: 5px solid #DCDDDE;
  }
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid #000;

  &.inverse {
    border-left: 10px solid #DCDDDE;
  }
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #000;

  &.inverse {
    border-right: 10px solid #DCDDDE;
  }
}

img.logo {
  width: 130px;
  position: relative;
  top: 10px;
  left: -1px;
}

div.flash {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0;
  color: #fff;
  height: 40px;
  font-size: 24px;
  text-align: center;
  text-shadow: 0 1px 3px #000;
  padding-top: 15px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  background: rgba(0,25,50, 0.6);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  -moz-box-shadow: 1px 0 6px rgba(0,0,0,0.9);
  -webkit-box-shadow: 1px 0 6px rgba(0,0,0,0.9);
  box-shadow: 1px 0 6px rgba(0,0,0,0.9);

  span.close {
    position: absolute;
    display: inline-block;
    right: 30px;
    width: 23px;
    top: 9px;
    font-size: 32px;
    font-weight: bold;
    cursor: pointer;
  }
}

#masthead-container {
  background: #50616c;
  background: -moz-linear-gradient(top,  #50616c 0%, #36424b 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50616c), color-stop(100%,#36424b));
  background: -webkit-linear-gradient(top,  #50616c 0%,#36424b 100%);
  background: -o-linear-gradient(top,  #50616c 0%,#36424b 100%);
  background: -ms-linear-gradient(top,  #50616c 0%,#36424b 100%);
  background: linear-gradient(to bottom,  #50616c 0%,#36424b 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50616c', endColorstr='#36424b',GradientType=0 );
  border-bottom: 1px solid #333A3F;
}

#masthead {
  position: relative;
  width: 960px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  height: 55px;

  img.logo {
    width: 80px;
  }
}

#user-nav {
  position: absolute;
  right: 0;
  top: 10px;
  cursor: pointer;

  span.user-nav-arrow {
    display: inline-block;
    position: relative;
    right: 7px;
  }
}

a {
  text-decoration: none;
}

span.user-name {
  color: #fff;
}

span.avatar {
  display: inline-block;
  border: 2px solid #BBBDBF;
  border-radius: 8px;
  vertical-align: middle;
  margin: 0 10px;

  -moz-box-shadow: 0 0 8px rgba(0,0,0, 0.8);
  -web-box-shadow: 0 0 8px rgba(0,0,0, 0.8);
  box-shadow: 0 0 8px rgba(0,0,0, 0.8);

  img {
    border-radius: 6px;
    display: block;
  }
}

#primary-nav-container {
  background: #547989;
  background: -moz-linear-gradient(top,  #547989 0%, #446070 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#547989), color-stop(100%,#446070));
  background: -webkit-linear-gradient(top,  #547989 0%,#446070 100%);
  background: -o-linear-gradient(top,  #547989 0%,#446070 100%);
  background: -ms-linear-gradient(top,  #547989 0%,#446070 100%);
  background: linear-gradient(to bottom,  #547989 0%,#446070 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#547989', endColorstr='#446070',GradientType=0 );
  border-top: 1px solid #7A91A0;

  font-weight: bold;
  font-size: 12px;
  text-shadow: 0 -1px #36414a;
  color: #a7c8ce;

  a {
  color: #a7c8ce;
  }
}

#primary-nav {
  width: 960px;
  margin: 0 auto;
  height: 52px;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      position: relative;
      top: 5px;
      display: inline-block;
      cursor: pointer;
      height: 20px;
      padding: 10px;
      padding-left: 53px;
      margin: 0 7px;
      border-radius: 6px;
    }

    li:hover {
      background: #57707F;
      text-shadow: 0 -1px #455057;
      box-shadow: 0 1px #34434b, 0 -1px #889da6, -1px 0 #3d5662, 1px 0 #3d5662;
      a {
        color: #fff;
      }
    }

    li:active, li.selected {
      background: #50616c;
      background: -moz-linear-gradient(top,  #50616c 0%, #36424b 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#50616c), color-stop(100%,#36424b));
      background: -webkit-linear-gradient(top,  #50616c 0%,#36424b 100%);
      background: -o-linear-gradient(top,  #50616c 0%,#36424b 100%);
      background: -ms-linear-gradient(top,  #50616c 0%,#36424b 100%);
      background: linear-gradient(to bottom,  #50616c 0%,#36424b 100%);


      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#50616c', endColorstr='#36424b',GradientType=0 );

      text-shadow: 0 -1px #455057;
      box-shadow: 0 -1px #34434b, 0 1px #889da6, 1px 0 #3d5662, -1px 0 #3d5662, inset 0 0 7px #000;
      a {
        color: #fff;
      }
    }

    li i {
      position: absolute;
      top: 5px;
      left: 8px;
    }

    li > a{
      display: inline-block;
      margin-top: 3px;
    }

    li:first-child {
      margin-left: 0;
    }

    li:last-child {
      position: absolute;
      right: 10px;
      margin-right: 0;
    }

    li i.visits {
      top: 4px;
    }

    li i.subjects {
      top: 8px;
    }

    li i.stimulations {
      top: 3px;
    }
  }

}

#content {
  width: 960px;
  margin: 0 auto;
}

#primary-footer {
  border-top: #eee 1px solid;
  width: 960px;
  margin: 5px auto;
  padding: 3px 0;
}

// Our basic button suitable for making things looks rather buttony
//
// :hover             - Subtle hover highlight.
// :active            - What the button looks like clicked.
// .bright            - Our bright attention getting button
// .block             - Long button that takes up all the room!
//
// Styleguide 1.0.1

a.button, button.button, input.button, input[type="submit"].button, {
  cursor: pointer;
  padding: 13px;
  font-size: 14px;

  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;

  -webkit-box-shadow:  0 1px rgba(0,0,0, 0.2), inset 0 1px rgba(255,255,255, 0.8);
  -moz-box-shadow:  0 1px rgba(0,0,0, 0.2), inset 0 1px rgba(255,255,255, 0.8);
  box-shadow:  0 1px rgba(0,0,0, 0.2), inset 0 1px rgba(255,255,255, 0.8);

  border: 1px solid #555;
  color: #555;
  text-shadow: 0 1px rgba(255,255,255, 0.5);

  background: #f4f4f4;
  background: -moz-linear-gradient(top,  #f4f4f4 0%, #a5a5a5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f4f4f4), color-stop(100%,#a5a5a5));
  background: -webkit-linear-gradient(top,  #f4f4f4 0%,#a5a5a5 100%);
  background: -o-linear-gradient(top,  #f4f4f4 0%,#a5a5a5 100%);
  background: -ms-linear-gradient(top,  #f4f4f4 0%,#a5a5a5 100%);
  background: linear-gradient(to bottom,  #f4f4f4 0%,#a5a5a5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#a5a5a5',GradientType=0 );

  &:hover {
   color: #333;
   background: #e5e5e5;
   background: -moz-linear-gradient(top,  #e5e5e5 0%, #939393 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#939393));
   background: -webkit-linear-gradient(top,  #e5e5e5 0%,#939393 100%);
   background: -o-linear-gradient(top,  #e5e5e5 0%,#939393 100%);
   background: -ms-linear-gradient(top,  #e5e5e5 0%,#939393 100%);
   background: linear-gradient(to bottom,  #e5e5e5 0%,#939393 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#939393',GradientType=0 );
  }

  &:active {
    color: #777;
    background: #b5b5b5;
    background: -moz-linear-gradient(top,  #b5b5b5 0%, #dbdbdb 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b5b5b5), color-stop(100%,#dbdbdb));
    background: -webkit-linear-gradient(top,  #b5b5b5 0%,#dbdbdb 100%);
    background: -o-linear-gradient(top,  #b5b5b5 0%,#dbdbdb 100%);
    background: -ms-linear-gradient(top,  #b5b5b5 0%,#dbdbdb 100%);
    background: linear-gradient(to bottom,  #b5b5b5 0%,#dbdbdb 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5b5b5', endColorstr='#dbdbdb',GradientType=0 );

    -webkit-box-shadow:  0 1px rgba(230,230,230, 0.3), inset 0 1px #000;
    -moz-box-shadow:  0 1px rgba(255,255,255, 0.2), inset 0 1px #000;
    box-shadow:  0 1px rgba(255,255,255, 0.3), 1px 0px rgba(230,230,230, 0.1), -1px 0px rgba(230,230,230, 0.1), inset 0 1px rgba(0,0,0,0.3), inset 1px 1px 8px rgba(0,0,0, 0.5);
  }

  &.bright {
    color: #fff;
    text-shadow: 0 1px 2px #000;
    background: #f47b32;
    background: -moz-linear-gradient(top,  #f47b32 33%, #cf2527 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(33%,#f47b32), color-stop(100%,#cf2527));
    background: -webkit-linear-gradient(top,  #f47b32 33%,#cf2527 100%);
    background: -o-linear-gradient(top,  #f47b32 33%,#cf2527 100%);
    background: -ms-linear-gradient(top,  #f47b32 33%,#cf2527 100%);
    background: linear-gradient(to bottom,  #f47b32 33%,#cf2527 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f47b32', endColorstr='#cf2527',GradientType=0 );
  }

  &.bright:hover {
    color: #f2e8e7;
    background: #f2691a;
    background: -moz-linear-gradient(top,  #f2691a 33%, #ce1414 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(33%,#f2691a), color-stop(100%,#ce1414));
    background: -webkit-linear-gradient(top,  #f2691a 33%,#ce1414 100%);
    background: -o-linear-gradient(top,  #f2691a 33%,#ce1414 100%);
    background: -ms-linear-gradient(top,  #f2691a 33%,#ce1414 100%);
    background: linear-gradient(to bottom,  #f2691a 33%,#ce1414 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2691a', endColorstr='#ce1414',GradientType=0 );
  }

  &.bright:active {
    color: #e5ceca;
    background: #ef512d;
    background: -moz-linear-gradient(top,  #ef512d 33%, #ef692b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(33%,#ef512d), color-stop(100%,#ef692b));
    background: -webkit-linear-gradient(top,  #ef512d 33%,#ef692b 100%);
    background: -o-linear-gradient(top,  #ef512d 33%,#ef692b 100%);
    background: -ms-linear-gradient(top,  #ef512d 33%,#ef692b 100%);
    background: linear-gradient(to bottom,  #ef512d 33%,#ef692b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef512d', endColorstr='#ef692b',GradientType=0 );
  }

  &.block {
    width: 100%;
    display: block;
  }
}
